<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-1/481899622_1185131896946192_5648201830565835115_n.jpg?stp=cp0_dst-jpg_s60x60_tt6&_nc_cat=106&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeHFKzrI60Nr2plKj-uE6xwhAnKE8JtLGBkCcoTwm0sYGeEn9Aur9qp8X7J8qmEOF5aUKzN2h-8we1wzxiBTmEJA&_nc_ohc=4vHPZRabtNgQ7kNvwFDiWQ-&_nc_oc=Adkah2oRij8sA5AkT6rQvFeyLlb4_g5Tjiq4fdEPr2dPhDOwbxilaUi59Dj-VNP-FVX0E75anF6DSVmaf_2u3whR&_nc_zt=24&_nc_ht=scontent.fhan18-1.fna&_nc_gid=uTN38arrCZZhLL4K713Zbg&oh=00_AfKkIhPJ9-ohUZKNynuC2Zm413rUZ8IDV0EBn82FDe1DWQ&oe=683CD34E" alt="logo">
    </a>

    <!-- Nút thu gọn menu trên mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu chính -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Menu trái -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dat_lich/create">Đặt lịch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dat_lich/show">Lịch hẹn gần nhất</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lien_he">Liên hệ</a>
        </li>
      </ul>

      <!-- Menu phải (Avatar người dùng) -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="http://localhost:4000/img/user.jpg" alt="User"
              class="rounded-circle me-2" style="width: 32px; height: 32px; object-fit: cover;">
            <span>Quang Huy</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/dat_lich/create">Đặt lịch</a></li>
            <li><a class="dropdown-item" href="/me/stored/products">Lịch hẹn của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/products">Sản phẩm</a></li>
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
