<!-- Vùng nền full width -->
<div style="background-color: #929fba; padding: 2rem 0;">
  
  <!-- Container bên trong để canh nội dung gọn đẹp -->
  <div class="container">
    <h1 class="text-center text-white">Giới thiệu về Trend Hair</h1>
    
    <div class="row align-items-center">
      <!-- Video bên trái -->
      <div class="col-lg-6 col-12 mb-3">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VNSsHSbBQdA?si=yNdgHPGWCzv1OZIi"
          frameborder="0" allowfullscreen></iframe>
      </div>

      <!-- Đoạn giới thiệu bên phải -->
      <div class="col-lg-6 col-12 text-white">
        <p>
          Chào mừng đến với tiệm tóc Tuan Truyen – nơi mỗi mái tóc không chỉ được cắt tỉa, mà còn được thổi hồn bằng sự tỉ mỉ, đam mê và phong cách riêng biệt!
          <br><br>
          Tại đây, từng đường kéo, từng lọn tóc đều được chăm chút như một tác phẩm nghệ thuật.
          <br><br>
          Dù bạn theo đuổi phong cách lịch lãm, cá tính nổi bật hay đơn giản là sự gọn gàng tinh tế, Tuan Truyen luôn biết cách làm bạn tỏa sáng theo cách riêng của mình.
          <br><br>
          Hãy để mái tóc của bạn kể câu chuyện bạn muốn – và chúng tôi sẽ là người giúp bạn viết nên câu chuyện ấy!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Combo section cũng nằm trong div nền -->
<div style="background-color: #929fba; padding-bottom: 2rem;">
  <div class="container">
    <h2 class="text-center text-white">Combo Quý Ông</h2>
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      {{#each comBos}}
      <div class="card card-course-item" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <img src="{{this.img}}" alt="Combo ảnh" class="img-fluid">
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
