<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-1/481899622_1185131896946192_5648201830565835115_n.jpg?stp=cp0_dst-jpg_s60x60_tt6&_nc_cat=106&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeHFKzrI60Nr2plKj-uE6xwhAnKE8JtLGBkCcoTwm0sYGeEn9Aur9qp8X7J8qmEOF5aUKzN2h-8we1wzxiBTmEJA&_nc_ohc=4vHPZRabtNgQ7kNvwFDiWQ-&_nc_oc=Adkah2oRij8sA5AkT6rQvFeyLlb4_g5Tjiq4fdEPr2dPhDOwbxilaUi59Dj-VNP-FVX0E75anF6DSVmaf_2u3whR&_nc_zt=24&_nc_ht=scontent.fhan18-1.fna&_nc_gid=uTN38arrCZZhLL4K713Zbg&oh=00_AfKkIhPJ9-ohUZKNynuC2Zm413rUZ8IDV0EBn82FDe1DWQ&oe=683CD34E" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dat_lich/create" tabindex="-1" aria-disabled="true">Đặt lịch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lịch hẹn của tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">Đăng nhập</button>
      </form>
    </div>
  </div>
</nav>