<div class="mt-4">
    <h2>Đặt lịch thành công!</h2>
    <p>Dịch vụ: {{datLich.tenDichVu}}</p>
    <p>Thời gian: {{datLich.thoiGianHen}}</p>
    <p>Thợ cắt: {{datLich.thoCat}}</p>
    <p>Ghi chú: {{datLich.ghiChu}}</p>
    <button type="button" class="btn btn-info">Thay đổi lịch hẹn</button>
    <button type="button" class="btn btn-danger ms-4">Xóa lịch hẹn</button>
</div>